Covid/Connected Services/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:57692/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CovidHost" />
  <xs:element name="InsertCase">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CovidHost" minOccurs="0" name="obj" nillable="true" type="q1:PersonCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCaseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCaseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPerson">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllPersonResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CovidHost" minOccurs="0" name="GetAllPersonResult" nillable="true" type="q2:ArrayOfPersonCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcact">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CovidHost" minOccurs="0" name="obj" nillable="true" type="q3:PersonCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddConcactResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddConcactResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishSession">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="FinishSessionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CovidHost" minOccurs="0" name="FinishSessionResult" nillable="true" type="q4:ArrayOfPersonCase" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>